.Login {
  background: linear-gradient(
      180deg,
      rgba(91, 174, 253, 1) 0%,
      rgba(109, 120, 221, 1) 100%
    );
  max-height: 420px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
  width: 500px;
  padding: 24px;

}
.LoginMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAF2FD;
}


.LoginForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}


#LoginChk {
  display: none;
}


.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.LoginInput {
  width: 100%;
  height: 40px;
  background: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* Button */
.LoginForm button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color:white;
  background: transparent;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease-in;
}




.LoginImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10%;
}

.LoginImage {
  max-width: 100%;
  
  height: 500px;
}
.LoginContainer {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.LoginFormContainer {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}