* {
    margin: 0;
    padding: 0;
}

.MySkills {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
}

.skills-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.skill-title {
    font-size: x-large;
    padding-top: 50px;
    text-align: center;
    color: white;
    background-color: #5CB0FE;
    height: 80px;
    border-radius: 10px 10px 0 0;
    color: white;
}

.skills-content {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

.skills-icons {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.skills {
    padding-top: 15px;
}

.transition-project {
    margin-top: 50px;
    text-align: center;
    font-size: x-large;
    color: #6D78DD;
}